.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200px;
    padding-top: 5px;
}
.sidebar-links{
    display: flex;
  height: 74px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}
.sidebar-links:hover {
   background-color: rgb(235, 235, 235); 
}
.sidebar-links img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-links div{
    font-family: arial;
    font-size: 10px;
}